<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand name" href="index.html">Comrademarket.com</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="about.html"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">Categories</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
        </ul>
        <a href="./upload.html">
          <button class="btn btn-dark">
            Upload product
            <img
              src="./images/upload.png"
              alt=""
              height="20px"
              width="20px"
            />
          </button>
        </a>
      </div>
    </div>
  </nav>
<!--navbar-->
